@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  background-color: #373b69;
}

.search {
  background-color: transparent;
  border: 2px solid #22254b;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  color: #fff;
}

.search::placeholder {
  color: #7378c5;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
  }
  .movie {
    width: 300px;
    margin: 1rem;
    background-color: #373b69;
    border-radius: 3px;
    overflow: hidden;
  }
  
  .movie img {
    width: 100%;
  }
  
  .movie-info {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
  }
  
  .overview {
    padding: 1rem;
    background-color: #fff;
    color: #000;
    transform: translateY(100%);
    transition: transform 0.3s ease-in;
  }
  
  .movie:hover .overview {
    transform: translateY(0);
  }
  .movie-info span{
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
  }
  .movie-info span.green {
    color: lightgreen;
  }
  .movie-info span.orange {
    color: orange;
  }
  .movie-info span.red{
    color: red;
  }
  body {
    background-color: #22254b;
    font-family: 'poppins',sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .movie{
    background-color: #373b69;
    margin: 1.5rem;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px rgba(0,0,0,0.2);
  }
  .movie.img{
    border-radius: 10px 10px 0 0;
  }
  .movie:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease_in_out;
  }
.movie:hover.overview{
    transform: translateY(0);
}
.footer{
    background-color: #373b69;
    text-align: center;
    padding: 1rem;
    color: #fff;
    margin_top: 0.25rem;
}
@media (max-width:768px) {
    .movie{
        width: 100%;
        border-radius: 0;
    }
    .movie.img{
        border-radius: 0;
    }
    header{
        justify-content: center;
    }
    
}
@media(max-width:480px){
    .search{
        width: 100%;
        padding: 0.5rem;
    }
}